#parse("/tigris-macros.vm")
#set ($hideNav = true)
#startPage("Validator Details")
<table>
<tr><td width="100%">
#bodytag (Form)
    #tag( Label "label='Validated Class'" "name='$action.stripPackage($clazz)'")
    #tag( Label "label='Context'" "name='$context'")
    #tag( Label "label='Validator Number'" "name='$selected'")
    #tag( Label "label='Validator Type'" "name='$action.stripPackage($selectedValidator.class)'")
#end
</td><td style="text-align: right;"><!-- Placeholder for Action Graph --></td></tr>
</table>
<table width="100%" title="Properties">
    <tr><th>Name</th><th>Value</th><th>Type</th></tr>
    #foreach ($prop in $properties)
        #rows()
            <td>$prop.name</td>
            <td>#if ($prop.value) $prop.value #else <b>null</b> #end</td>
            <td>$prop.type.name</td>
        </tr>
    #end
</table>
#endPage()
