#set( $items = ${stack.findValue($tag.list)} )
#if( $items )
<select name="$!{tag.Name}" #if( $tag.Size > 0 )size="${tag.Size}" #end onChange="$!{tag.Name}Redirect(this.options.selectedIndex)">
#foreach( $item in $items )
  #if( $tag.ListKey )
      #set( $itemKey = $ognl.findValue($tag.ListKey, $item) )
  #else
      #set( $itemKey = $item.toString() )
  #end
  #if( $tag.ListValue )
      #set( $itemValue = $ognl.findValue($tag.ListValue, $item) )
  #else
      #set( $itemValue = $item.toString() )
  #end
  <option value="$!webwork.htmlEncode($itemValue)"#if( $tag.contains($tag.ActualValue, $itemValue) ) selected#end>$!{itemKey}</option>
#end
</select>

<select name="$!{tag.DoubleName}" #if( $tag.Size > 0 )size="${tag.Size}" #end #if( $tag.Multiple ) multiple#end>
</select>

<script>
<!--
var $!{tag.Name}Group = new Array($items.size())
for (i = 0; i < $items.size(); i++)
$!{tag.Name}Group[i] = new Array()

#set( $itemCount = 0 )
#foreach( $item in $items )
  #if( $tag.ListKey )
      #set( $itemKey = $ognl.findValue($tag.ListKey, $item) )
  #else
      #set( $itemKey = $item.toString() )
  #end
  #if( $tag.ListValue )
      #set( $itemValue = $ognl.findValue($tag.ListValue, $item) )
  #else
      #set( $itemValue = $item.toString() )
  #end

## CHANGE YOUR DOUBLE ITEMS HERE, WILL BE FIXED BY USING OGNL, NEED TO FIX THIS
  #set( $doubleItems = $item.getChildren())
  #set( $doubleItemCount = 0 )

  #if( $doubleItems )
    #foreach( $doubleItem in $doubleItems )
      #if( $tag.DoubleListKey )
          #set( $doubleItemKey = $ognl.findValue($tag.DoubleListKey, $doubleItem) )
      #else
          #set( $doubleItemKey = $doubleItem.toString() )
      #end
      #if( $tag.DoubleListValue )
          #set( $doubleItemValue = $ognl.findValue($tag.DoubleListValue, $doubleItem) )
      #else
          #set( $doubleItemValue = $doubleItem.toString() )
      #end

$!{tag.Name}Group[$itemCount][$doubleItemCount] = new Option("$doubleItemKey", "$doubleItemValue")

      #set( $doubleItemCount = $doubleItemCount + 1 )
    #end
    #set( $itemCount = $itemCount + 1 )
  #end
#end

## CHANGE THE NAME OF YOUR FORM HERE, NEED TO FIX THIS
var $!{tag.Name}Temp = document.inputform.$!{tag.DoubleName}

#set( $itemCount = 0 )
#set( $redirectTo = 0 )
#foreach( $item in $items )
  #if( $tag.ListValue )
      #set( $itemValue = $ognl.findValue($tag.ListValue, $item) )
  #else
      #set( $itemValue = $item.toString() )
  #end

  #if( $tag.contains($tag.ActualValue, $itemValue) )
    #set( $redirectTo = $itemCount )
  #end
  #set( $itemCount = $itemCount + 1 )
#end

$!{tag.Name}Redirect($redirectTo)

function $!{tag.Name}Redirect(x) {
  for (m = $!{tag.Name}Temp.options.length - 1; m >= 0; m--)
    $!{tag.Name}Temp.options[m] = null

  for (i = 0; i < $!{tag.Name}Group[x].length; i++) {
    $!{tag.Name}Temp.options[i] = new Option($!{tag.Name}Group[x][i].text, $!{tag.Name}Group[x][i].value)
  }

  if ($!{tag.Name}Temp.options.length > 0)
    $!{tag.Name}Temp.options[0].selected = true
}
//-->
</script>

#else
  &nbsp;
#end
