<html>
<head>
    <title>$title</title>

    #standardHeader()
</head>
<body onload="placeFocus()">

<div id="Content">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td width="60%" rowspan=2 class="logocell">#pagetitle("spacenametitle")</td>

            <td width="40%" align="right" valign="top">#globalnavbar("table")</td>
        </tr>
        #if ($bootstrap.isSetupComplete())
        <tr>
            <td align=right valign="bottom">
                #usernavbar()
                #printableicon()
                #helpicon()
            </td>
        </tr>
        #end
    </table>

    #breadcrumbsAndSearch()

    <table border="0" cellpadding="5" cellspacing="0" width="100%"><tr><td>
	<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr>
