<div class="menuheading">Setup Steps</div>
<div class="menuitems">
    <table border="0" width="160">
        #foreach ($step in $setupPersister.completedSteps)
            #if ($step.value != "invisible")
                <tr>
                    <td>
                            <img src="$req.contextPath/images/icons/bullet_done.gif" width="9" height="9" border="0" title="Step Finished">
                    </td>
                    <td>
                        $step.value
                    </td>
                </tr>
            #end
        #end
        #foreach ($step in $setupPersister.uncompletedSteps)
            #if ($step.value != "invisible")
                <tr>
                    <td>
                        #if ($setupPersister.currentStep == "complete")
                            <img src="$req.contextPath/images/icons/bullet_done.gif" width="9" height="9" border="0" title="Step Finished">
                        #elseif ($step.key == $setupPersister.currentStep)
                            <img src="$req.contextPath/images/icons/bullet_inprogress.gif" width="9" height="9" border="0" title="Step In Progress">
                        #else
                            <img src="$req.contextPath/images/icons/bullet_notdone.gif" width="9" height="9" border="0" title="Step Not Started">
                        #end
                    </td>
                    <td>
                        $step.value
                    </td>
                </tr>
            #end
        #end


    </table>
</div>
