body, td, th, p, div, span {
}

.maintable {cellpadding:10;cellspacing:10;}

#nav_items {
    font-weight: bold;
}

.wwFormTable {}
.label {font-style:italic; }
.errorLabel {font-style:italic; color:red; }
.errorMessage {font-weight:bold; text-align: center; color:red; }
.checkboxLabel {}
.checkboxErrorLabel {color:red; }
.required {color:red;}
