<html>
<head>
<title>WebWork Register - Example 6 (Velocity Version)</title>
<meta name="help-path" content="/help/help6.html"/>
</head>
<body>

<table border=0 width=97%>
<tr><td align="left">
	#wwform ("name=test" "action=/registerSupport.action" "method=POST")
            #wwtextfield ("label=Username" "name=user.username" "required=true")
            #wwtextfield ("label=Password" "name=user.password" "required=true")
            #wwtextfield ("label=VerifyPassword" "name=verifyPassword" "required=true")
            #wwtextfield ("label=Email" "name=user.email" "required=true")
            #wwtextfield ("label=Age" "name=user.age" "required=true")
            #wwsubmit ("value=Submit")
    #end

</td></tr>
</table>

<br/>
</body>
</html>
