<html>
<head><title>WebWork Register - Example 6 - Register result (Velocity Version)</title>
<meta name="help-path" content="/help/help6.html"/>
</head>

<body>
	<table border=0 width=97%>
		<tr>
			<td align="left">
			Congratulation,your register success!<p>
			Username:$!user.username<br>
			Password:$!user.password<br>
			Email:$!user.email<br>
			Age:$!user.age<br>
			</td>
		</tr>
	</table>
</body>
</html>
