#set( $labelValue = $stack.findValue("getText('$tag.Label')") )
#if( !$labelValue )
#set( $labelValue = $tag.Label )
#end
<td colspan="2">
<table width="100%" >
<tr>
    <td valign="top" align="right"><input
        type="checkbox"
        #if ($parameters.name)      name="$parameters.name"     #end
        #if ($parameters.name)      id="$parameters.name"       #end
        #if ($parameters.value)     value="$parameters.value"   #end
        #if ($parameters.value == "true")   checked="checked"   #end
    /></td>
    <td><label for="$parameters.name">$!parameters.label</label></td>
</tr>
</table>
</td>
