#parse( "/templates/xhtml/controlheader.vm" )
<textarea
    #if ($parameters.name)      name="$parameters.name"     #end
    #if ($parameters.rows)      rows="$parameters.rows"     #end
    #if ($parameters.cols)      cols="$parameters.cols"     #end
>$!parameters.value</textarea>
#parse( "/templates/xhtml/controlfooter.vm" )
