#*
  -- file.vm
  --
  -- Required Parameters:
  --   * label      - The description that will be used to identfy the control.
  --   * name       - The name of the attribute to put and pull the result from.
  --                  Equates to the NAME parameter of the HTML INPUT tag.
  --
  -- Optional Parameters:
  --   * labelposition   - determines were the label will be place in relation
  --                       to the control.  Default is to the left of the control.
  --   * size       - SIZE parameter of the HTML INPUT tag.
  --   * accept     - What files should be accepted
  --   * disabled   - DISABLED parameter of the HTML INPUT tag.
  --
    *#
#parse("/template/xhtml/controlheader.vm")

<input type="file"
                                   name="$!parameters.name"
#if ($parameters.size)             size="$parameters.size"            #end
#if ($parameters.nameValue)        value="$parameters.nameValue"      #end
#if ($parameters.disabled == true) disabled="disabled"                #end
#if ($parameters.id)               id="$parameters.id"                #end
#if ($parameters.accept)           accept="$parameters.accept"        #end
/>

#parse("/template/xhtml/controlfooter.vm")
