<input
    type="hidden"
    #if ($parameters.name)      name="$!webwork.htmlEncode($parameters.name)"       #end
    #if ($parameters.nameValue) value="$!webwork.htmlEncode($parameters.nameValue)" #end
/>