<tr>
    <td colspan="2"><div
        #if ($parameters.align)      align="$parameters.align"     #end
        ><input
            type="submit"
            #if ($parameters.name)   name="$parameters.name"       #end
            #if ($parameters.value)  value="$parameters.value"     #end
        /></div>
#parse( "/templates/xhtml/controlfooter.vm" )
