<tr>
    <td colspan="2"><div
        #if ($parameters.align)      align="$!webwork.htmlEncode($parameters.align)"     #end
        ><input
            type="submit"
            #if ($parameters.name)       name="$!webwork.htmlEncode($parameters.name)"           #end
            #if ($parameters.nameValue)  value="$!webwork.htmlEncode($parameters.nameValue)"     #end
            #if ($parameters.get('class'))     class="$!webwork.htmlEncode($parameters.get('class'))"   #end
            #if ($parameters.style)            style="$!webwork.htmlEncode($parameters.style)"          #end
        /></div>
#parse( "/template/xhtml/controlfooter.vm" )
