#*
  -- WebWork, Web Application Framework
  --
  -- Distributable under LGPL license.
  -- See terms of license at opensource.org
  --
  --
  -- tabbedpane.jsp
  --
  -- Required Parameters:
  --   * contentName      - The name of the data map to be used.
  --
  -- Optional Parameters:
  --   * tabAlign 	-	 The Alignment of the tabs. Default is the CENTER of the control.
  --   * id  				- 	 Id of the control.
  --
  *#

#bean ("com.opensymphony.webwork.util.Counter" $tabIndex)
$tabIndex.setFirst(0)
$tabIndex.setLast($content.size())

<table border="1" cellspacing="0" cellpadding="5" id="$webwork.encodeHtml($id)">

	<tr valign="bottom" align="$webwork.encodeHtml($tabAlign)">

	#if ($tabAlign == 'CENTER' || $tabAlign == 'RIGHT')
        <th colspan ="1" width="*"></th>
    #end

    #foreach ($c in $content)
        $stack.pushValue($c)

        <th width="10%"
            #if ($selectedIndex == #attr.tabIndex.current)
                #set ($isCur = 'true')
                bgcolor="#A0B3FC"
            #else
                bgcolor="#C0C0C0"
            #end
        >

        <a href="#bodytag( URL "includeParams='all'" )
            #param ("indexLink" #attr.tabIndex.next)
        #end">

        #if ($isCur)
            <em>
        #end
        $webwork.encodeHtml($key)
        #if ($isCur)
            </em>
        #end

        </a>
        </th>

        #set ($trash = $stack.popValue())
    #end

		<webwork:if test="tabAlign == 'CENTER' || tabAlign == 'LEFT'"><th colspan ="1" width="*"></th></webwork:if>

	</tr>
	<tr>
		<td bgcolor="#E1EAE8" colspan="<webwork:property value="colSpanLength"/>" width="100%">
			<webwork:include value="selectedUrl"/>
		</td>
	</tr>
</table>