<!-- Validators -->
<table width="100%">
    <tr><th>Type</th><th>&nbsp;</th></tr>
    #set ($row = 0)
    #foreach ($i in $validators)
        #rows()
            <td>$action.stripPackage($i.class)</td>
            <td>
            <a href="#" onClick="window.open('validatorDetails.action?clazz=$clazz.name&context=$context&selected=$row', 'Validator Details', 'resizable=yes,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,width=640,height=480');">details</a>
            </td>
        </tr>
        #set ($row = $row + 1)
    #end
</table>