#if( $fieldErrors.get($parameters.name) )
  #set ($errors = $fieldErrors.get($parameters.name))
  #foreach ($error in $errors)
      <tr>
        <td colspan="2" class="error"><span class="errorMessage">
        $error
        </span></td>
      </tr>
  #end
#end
<tr>
  <td align="right" valign="top"#if($errors) class="error"#end><label class="label">$parameters.label:</label></td>
  <td#if($errors) class="error"#end>

