#parse( "/templates/xhtml/controlheader.vm" )
#set( $items = $parameters.list )
#if( $items )
    #foreach( $item in $items )
        $stack.push($item)

        #if( $parameters.listKey )
            #set( $itemKey = $stack.findValue($parameters.listKey) )
        #else
            #set( $itemKey = $item )
        #end

        #if( $parameters.listValue )
            #set( $itemValue  = $stack.findValue($parameters.listValue) )
        #else
            #set( $itemValue = $item )
        #end

        <label class="label" for="$!parameters.name$!itemKey">$!itemValue</label>
        <input
            type="radio"
            #if ($parameters.name)      name="$parameters.name"     #end
            #if ($itemKey)              value="$itemKey"            #end
            #if( $parameters.value && $itemKey && $parameters.value == $itemKey )checked="checked"#end/>

        #set ($trash = $stack.pop())
    #end
#else
  &nbsp;
#end
#parse( "/templates/xhtml/controlfooter.vm" )
