#parse( "/templates/xhtml/controlheader.vm" )
<select
      #if ($parameters.name)      name="$parameters.name"     #end
      #if ($parameters.size)      name="$parameters.size"     #end
      #if ($parameters.multiple == "true")       multiple     #end
>
#if( $parameters.emptyOption == "true" )<option></option>#end
#set( $items = $parameters.list )
#if( $items )
    #foreach( $item in $items )
        $stack.push($item)

        #if( $parameters.listKey )
            #set( $itemKey = $stack.findValue($parameters.listKey) )
        #else
            #set( $itemKey = $item )
        #end

        #if( $parameters.listValue )
            #set( $itemValue  = $stack.findValue($parameters.listValue) )
        #else
            #set( $itemValue = $item )
        #end
        <option
            value="$!itemKey"
            #if( $parameters.value && $itemKey && $parameters.value == $itemKey )selected#end
        >$!itemValue</option>

        #set ($trash = $stack.pop())
    #end
#else
  &nbsp;
#end
</select>
#parse( "/templates/xhtml/controlfooter.vm" )
