#parse( "/templates/xhtml/controlheader.vm" )
<input type="text" name="${tag.Name}" value="$!{tag.ActualValue}" #if( $tag.Size > 0 )size="${tag.Size}"#end/>
#parse( "/templates/xhtml/controlfooter.vm" )
