<html>
<head>
<title>WebWork Tutorial - Example 4</title>
<meta name="help-path" content="/help/help4.html"/>
</head>
<body>
<p>Custom Component Example:</p>
#wwcomponent ("template=components/datefield.vm")
      #wwparam ("name=label" "value=%{'Date'}")
      #wwparam ("name=name" "value=%{'mydatefield'}")
      #wwparam ("name=mysize" "value=%{'3'}")
      #wwparam ("name=yearsize" "value=%{'6'}")
#end
<br/>
<br/>
</body>
</html>
