<table>
<form
    #if ($parameters.name)      name="$!webwork.htmlEncode($parameters.name)"       #end
    #if ($parameters.action)    action="$!webwork.htmlEncode($parameters.action)"   #end
    #if ($parameters.method)    method="$!webwork.htmlEncode($parameters.method)"   #end
    #if ($parameters.enctype)   enctype="$!webwork.htmlEncode($parameters.enctype)" #end
>
