#* Display related macros *#

#macro(startPage $pageTitle)
	#parse("/page-header.vm")
#end

#macro(endPage)
	#parse("/page-footer.vm")
#end

#macro(startTabs)
<div class="tabs" id="tabs">
	<table cellpadding="3" cellspacing="0" border="0">
		<tr>
#end

#macro(endTabs)
		</tr>
	</table>
</div>
#end

#macro(tab $name $url $isSelected)
	#if($!isSelected)<th><a href="$url">$name</h></td>
	#else <td><a href="$url">$name</a></td>
	#end
#end


## Highlights every other row
#macro (indexedRows $count)
 #if ($count % 2 > 0)
    <tr class="a">
 #else
    <tr class="b">
 #end
#end

## Convenience method
#macro (rows)
 #indexedRows($velocityCount)
#end

#* User feedback macros *#

#macro (error $text)
   <p class="errormark"><strong>$text</strong></p>
#end

#macro (done $text)
   <p class="donemark"><em>$text</em></p>
#end

#macro (info $text)
   <p class="infomark">$text</em></p>
#end

#macro (warn $text)
   <p class="warningmark"><strong>$text</strong></p>
#end

#macro (errorMessage $caption $message)
<div class="errormessage">
  <p>
	<strong>$caption</strong></p>
	$message
  </p>
</div>
#end

#macro (errorMessageMultiple $caption $message $errors)
<div class="errormessage">
  <p>
	<strong>$caption</strong></p>
	$message
	#foreach($e in $errors)
		#error($e)
	#end
  </p>
</div>
#end

#macro (warningMessage $caption $message)
<div class="warningmessage">
  <p>
	<strong>$caption</strong></p>
	$message
  </p>
</div>
#end

#macro (infoMessage $caption $message)
<div class="infomessage">
  <p>
	<strong>$caption</strong></p>
	$message
  </p>
</div>
#end

#macro (doneMessage $caption $message)
<div class="donemessage">
  <p>
	<strong>$caption</strong></p>
	$message
  </p>
</div>
#end


