<html>
<head><title>Please Input you message!</title></head>
<body>
<p>Welcome to use edit mode demo: $!now
</p>
<p>
	$!userName 
</p>
#wwform ("action=/edit.action" "method=post")
		#wwtextfield ("label=User Name" "name=userName")
		#wwsubmit ("value=Submit")
#end
<br/>
</body>
</html>

