<html> 
<head> 
<title>WebWork Tutorial - Example 3</title>
<meta name="help-path" content="/help/help3.html"/> 
</head> 
<body> 
<H2>Template & Theme Change Example:</H2> 
<br/> More detail please refer to template/components directory.
<p>
#wwcheckbox ("name=checkbox" "label=A checkbox" "fieldValue=checkbox_value" "theme=xhtml/components")
</p> 
<p>
#wwtextfield ("name=textfield" "label=A text field" "template=components/mytextfield.vm")
</p> 
</body> 
</html>
