<html>
<head><title>$action.getText('heading')</title>
<meta name="help-path" content="/help/help1.html"/>
</head>
<body>
<!-- h1>$action.getText('heading')</h1 -->
<p>$action.getText('greeting') $now
</p>
<p>
	$userName

</p>
#wwform ("action=/hello.action" "method=post")
	#wwtextfield ("label=User Name" "name=userName")
	#wwsubmit ("value=Submit")
#end

#wwhref ("href=hello.vm" "id=hello")
Back (using wwhref tag)
#end
<br>
#wwa ("href=hello.vm" "id=hello")
Back (using wwa tag)
#end
</body>
</html>

