
param hello     = $parameters.hello
param argle     = $parameters.argle
param glip      = $parameters.glip
param obj.Class = $parameters.obj.class

#foreach( $element in $parameters.array )
#set( $index = $velocityCount - 1)
param array[$index] = $element
#end
