.btn:focus {
	color : #333;
}

ul.dropdownButtons {
	font-size : 90%;
	position : relatlive;
}

ul.dropdownButtons, ul.dropdownButtons ul {
	float : left;
	list-style-type : none;
	margin-left : 0;
	padding-left : 0;
}

ul.dropdownButtons li {
	position : relative;
	float : left;
	margin-right : 5px;
}

ul.dropdownButtons li a {
	display : block;
	float : left;
	padding : 2px 9px;
	border : 2px outset #999;
	_border-color : #ccc;
	border-right-width : 1px;
	background : #ddd;
	text-decoration : none;
	color : black;
}

ul.dropdownButtons li div.downArrow {
	padding : 2px 4px;
	border : 2px outset #999;
	_border-color : #ccc;
	float : left;
	border-left : 0;
	background : #ddd url(dropdownButtonsArrow.gif) no-repeat 4px 9px;
	text-decoration : none;
	color : black;
	cursor : pointer;
	_cursor : hand;
}

ul.dropdownButtons li a:hover,
ul.dropdownButtons li div.downArrow:hover {
	color : #333;
	background-color : #eee;
}

ul.dropdownButtons li a:focus {
	padding : 3px 8px 1px 10px;
	color : #333;
	border-style : inset;
}

ul.dropdownButtons li ul {
	position : absolute;
	left : 0;
	display : none;
	xwidth : 150px;
	padding : 0;
	border : 1px solid #999;
	background : #ddd;
}

ul.dropdownButtons li li {
	float : none;
	margin : 0;
}

ul.dropdownButtons li li a {
	float : none;
	padding : 2px 4px;
	border : 0;
	background : inherit;
	display : block;
	_width : 100%;
}

ul.dropdownButtons li li a:hover,
ul.dropdownButtons li li a:focus {
	padding : 2px 4px;
}
