<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="connectionFactory" class="org.codehaus.activemq.ActiveMQConnectionFactory" singleton="true">
        <constructor-arg><value>vm://localhost</value></constructor-arg>
        <property name="useEmbeddedBroker"><value>true</value></property>
    </bean>
    <bean id="messageworkDestination" class="org.codehaus.activemq.message.ActiveMQQueue" singleton="true">
        <constructor-arg><value>MessageWorkQueue</value></constructor-arg>
    </bean>
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate" singleton="false">
        <constructor-arg><ref bean="connectionFactory"/></constructor-arg>
    </bean>
    <bean id="mapMessageFactory" class="com.opensymphony.messagework.jms.messagefactory.MapMessageFactory" singleton="false"/>
    <bean id="textMessageFactory" class="com.opensymphony.messagework.jms.messagefactory.TextMessageFactory" singleton="false"/>
    <bean id="actionMessageSender" class="com.opensymphony.messagework.jms.ActionMessageSender" singleton="false">
        <constructor-arg index="0"><ref bean="jmsTemplate"/></constructor-arg>
        <constructor-arg index="1"><ref bean="messageworkDestination"/></constructor-arg>
    </bean>
</beans>